mat-horizontal-stepper{
  width: 70% !important;
  height: 70% !important;
  display: flex;
  flex-direction: column;
  align-items: center!important;
  justify-content: center!important;
}
mat-grid-list{
  background-color: #ffb80d;

}

